nav {
  background: radial-gradient(#666 33%, #555 55%, #333 99%);
  background-size: 100% 800px;
  background-position: center bottom;
  background-repeat: no-repeat;

  height: 250px;
}

a {
  height: 30px;
  padding: 25px;
  margin-right: 15px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 700;
  color: #fff;
}
